@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('fonts/AtlasGrotesk-Medium-Web.eot');
  src: url('fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2'),
       url('fonts/AtlasGrotesk-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Medium-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('fonts/AtlasGrotesk-Regular-Web.eot');
  src: url('fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
       url('fonts/AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Regular-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('fonts/AtlasGrotesk-Light-Web.eot');
  src: url('fonts/AtlasGrotesk-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/AtlasGrotesk-Light-Web.woff2') format('woff2'),
       url('fonts/AtlasGrotesk-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Light-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Canela Web';
  src: url('fonts/Canela-Bold-Web.eot');
  src: url('fonts/Canela-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/Canela-Bold-Web.woff2') format('woff2'),
       url('fonts/Canela-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

.Canela-Bold-Web {
  font-family: 'Canela Web';
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Canela Web';
  src: url('fonts/Canela-Light-Web.eot');
  src: url('fonts/Canela-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/Canela-Light-Web.woff2') format('woff2'),
       url('fonts/Canela-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

.Canela-Light-Web {
  font-family: 'Canela Web';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Publico Text Web';
  src: url('fonts/PublicoText-Italic-Web.eot');
  src: url('fonts/PublicoText-Italic-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/PublicoText-Italic-Web.woff2') format('woff2'),
       url('fonts/PublicoText-Italic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

.PublicoText-Italic-Web {
  font-family: 'Publico Text Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Publico Text Web';
  src: url('fonts/PublicoText-Roman-Web.eot');
  src: url('fonts/PublicoText-Roman-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/PublicoText-Roman-Web.woff2') format('woff2'),
       url('fonts/PublicoText-Roman-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.PublicoText-Roman-Web {
  font-family: 'Publico Text Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

html {
    background-color: rgba(173, 216, 230, 0.27);
}

.top-title {
  font-family: 'Canela Web';
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  line-height: 56px;
  margin-bottom: 50px;
  /*border-bottom: 1px solid #cacaca;
  padding-bottom: 10px;*/
}

.chart-title{
  font-family: 'Canela Web';
  font-size: 27px;
  font-weight: normal;
  text-align: left;
  color: #000000;
  /*border-bottom: 1px solid #cacaca;
  padding-bottom: 5px;*/
  width: 1000px;
  margin-bottom: -10px;
}

.sub-title{
  font-family: 'Canela Web';
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
  color: black;
  width: 1000px;
}

.thats-what-she-said-container{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  justify-content: flex-start;
  font-family: Atlas Grotesk;
  font-size: 15px;
  font-weight: lighter;
  text-align: justify;
  line-height: 19px;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}

.character-name{
  font-weight: 400;
}

.season-episode-name{
  color: steelblue;
  font-weight: 400;
}

.popular-character-container{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.circle {
  fill: black;
}

.axis-text{
  font-family: 'Atlas Grotesk Web';
  font-size: 13px;
  font-weight: normal;
  /* letter-spacing: 2px; */
  /* text-anchor: end; */
  /*stroke-width: 0px;*/
}

.x-axis-label {
  font-family: 'Atlas Grotesk Web';
  font-size: 15px;
  font-weight: 500;
}

.character-label {
  font-family: 'Atlas Grotesk Web';
  font-size: 15px;
  font-weight: 500;
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(70, 144, 200, 0.54);
  color: #000000;
  border-radius: 4px;
  font-size: 13px;
  font-family: 'Atlas Grotesk Web';
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 13px;
  width: 100%;
  line-height: 1;
  color: rgba(70, 144, 200, 0.54);
  content: "\25BC";
  position: absolute;
  text-align: center;
  font-family: 'Atlas Grotesk Web';
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}


.key-label {
    font-family: 'Atlas Grotesk Web';
    font-size: 13px;
    font-weight: normal;
    /* letter-spacing: 2px; */
}

.dwightov-container{
  display: block;
  flex-wrap: wrap;
  margin: 2rem;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.dwight-chart-title{
  font-family: 'Canela Web';
  font-size: 27px;
  font-weight: normal;
  text-align: left;
  color: #000000;
  /*border-bottom: 1px solid #cacaca;
  padding-bottom: 5px;*/
  width: 1000px;
  margin-bottom: 20px;
}

#generate {
  color: black;
  background-color: transparent;
  font-family: 'Atlas Grotesk Web';
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  border-radius: 8px;
  border: 1px solid black;
}


#response {
    font-family: 'Atlas Grotesk Web';
    font-size: 15px;
    font-weight: lighter;
    /* padding-left: 10px; */
    padding-top: 10px;
}
